[submodule "system"]
	path = system
	url = https://smith-nekrald@bitbucket.org/smith-projects/sea-cpp-system.git
[submodule "data"]
	path = data
	url = https://smith-nekrald@bitbucket.org/smith-projects/sea-python-data.git
[submodule "experiment"]
	path = experiment
	url = https://smith-nekrald@bitbucket.org/smith-projects/sea-experiment-scripts.git
